.git
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
storage/logs/*
bootstrap/cache/*.php
.phpunit.cache
test-results
playwright-report
docs

storage/app/*
!storage/app/.gitignore
storage/framework/*
!storage/framework/.gitignore
database/*.sqlite*
